{% extends "base.html" %} {% block title %}Admin Panel - Stock Trading System{%
endblock %} {% block content %}
<head>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
</head>
<div class="container-fluid mt-4">
  <div class="row">
    <!-- Left-side navigation -->
    <nav id="admin-nav" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#stock-management">Stock Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#user-management">User Management</a>
          </li>
          </li class="nav-item">
            <a class="nav-link" href="#transaction-history">Transaction History</a>
          <li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Admin Dashboard</h1>
      </div>

        <!-- Stock Management Section -->
        <section id="stock-management" class="mb-5">

          <!-- Update Stock Form -->
          <form method="POST" action="{{ url_for('admin.update_stock') }}" novalidate>
            {{ update_form.hidden_tag() }}
            <input type="hidden" name="form_name" value="update-stock">
            <h2 class="mb-4">Stock Management</h2>
            <div class="form-group mb-3">
              {{ update_form.stock_id(class="form-select", required=True) }} {{
                update_form.stock_id.label }}
            </div>
            <div class="form-group mb-3">
              {{ update_form.new_price(class="form-control", required=True, step="0.01",
              placeholder="Enter new price") }} {{ update_form.new_price.label }}
            </div>
            <div class="form-check mb-3">
              {{ update_form.is_manual(class="form-check-input") }} {{
                update_form.is_manual.label }}
            </div>
            <div class="form-group mb-3">
              {{ update_form.fluctuation_multiplier(class="form-control", required=True,
              step="0.01", placeholder="Enter fluctuation multiplier") }} {{
                update_form.fluctuation_multiplier.label }}
            </div>
            <div id="update-submit-section" class="mb-3">
              {{ update_form.submit(class="btn btn-primary mt-3") }}
            </div>
          </form>

          <form method="POST" action="{{ url_for('admin.create_stock') }}" novalidate>
            {{ add_form.hidden_tag() }}
            <input type="hidden" name="form_name" value="create-stock">
            <h2 class="mb-4">Create Stock</h2>
            <div class="form-group mb-3">
              {{ add_form.company(class="form-control", required=True, placeholder="Enter stock name") }} {{
                add_form.company.label }}
            </div>
            <div class="form-group mb-3">
              {{ add_form.symbol(class="form-control", required=True, placeholder="Enter stock symbol") }} {{
                add_form.symbol.label }}
            </div>
            <div class="form-group mb-3">
              {{ add_form.price(class="form-control", required=True, step="0.01", placeholder="Enter stock price") }} {{
                add_form.price.label }}
            </div>
            <div class="form-group mb-3">
              {{ add_form.quantity(class="form-control", required=True, placeholder="Enter stock quantity") }} {{
                add_form.quantity.label }}
            </div>
            <div id="create-submit-section" class="mb-3">
              {{ add_form.submit(class="btn btn-primary mt-3") }}
            </div>
          </form>

        </section>


      <hr />

      <!-- User Management Section -->
      <section id="user-management">
        <h2>User Management</h2>
        <div class="table-responsive">
          <table class="table table-striped table-bordered mt-3">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Balance</th>
                <th>Last Login</th>
              </tr>
            </thead>
            <tbody>
              {% for user in all_users %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.status }}</td>
                <td>${{ user.balance }}</td>
                <td>{{ user.last_login or "Never" }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>

      <hr />

      <section id="transaction-history">
        <h2>Transaction History</h2>
        <div class="table-responsive">
          <table id="transactions-table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Order Number</th>
                <th>Username</th>
                <th>Symbol</th>
                <th>Action</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction, stock_symbol, username in transactions %}
              <tr>
                <td>{{ transaction.order_number }}</td>
                <td>{{ username }}</td>
                <td>{{ stock_symbol }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.timestamp }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </div>
</div>

<script>
    var userPagination = {{current_user.pagination}};

    // Define the available length options
    var lengthOptions = [10, 25, 50, { label: 'All', value: -1 }];

    // Remove the user's setting from the options if it exists
    lengthOptions = lengthOptions.filter(function(option) {
      return (typeof option === 'object' && option.value !== userPagination)
      || option !== userPagination;
    });

    // Add the user's setting at the beginning of the menu
    lengthOptions.unshift(userPagination);

    $('#transactions-table').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "{{ url_for('admin.transaction_data') }}",
        "type": "GET",
      },
      "pageLength": userPagination,
      "lengthMenu": lengthOptions,
      "columns": [
        { "data": "order_number" },
        { "data": "username" },
        { "data": "symbol" },
        { "data": "type" },
        { "data": "quantity" },
        { "data": "price",
          "render": $.fn.dataTable.render.number(',', '.', 2, '$')
        },
        { "data": "amount",
          "render": $.fn.dataTable.render.number(',', '.', 2, '$')
        },
        { "data": "timestamp" }
      ],
      "order": [[7, 'desc']]
    });
</script>
{% endblock %}
