<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Stock Trading System{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      ref="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light main-content">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ url_for('main.home') }}" id="logo">
          <img
            src="{{ url_for('static', filename='logo.png') }}"
            alt="TradingPro Logo"
            height="75"
          />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation Bar -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.portfolio') }}">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
             <!-- {# {% if user.role == "admin" %}
              <li class="nav-item"> !!EITHER DO SOMETHING LIKE THIS OR CHECK COOKIES!!
                <a class="nav-link" href="{{ url_for('main.admin') }}">Admin Page</a>
              </li>
             {% endif %} #} -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- Main Content Block -->
    <div class="container mt-4">{% block content %}{% endblock %}</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
