{% extends "base.html" %}

{% block title %}Home - Stock Trading System{% endblock %}

{% block content %}
<body>
  <!-- Main Content -->
  <div class="container main-content mt-4">
    <div class="row">
      <!-- Popular Stocks Section -->
<div class="col-md-6" id="popular-stocks">
  <div class="stock-box">
    <h4>Popular Stocks</h4>
    <ul>
      {% for stock in popular_stocks %}
      <li>{{ stock.company }} ({{ stock.symbol }}): 
        <span id="popular-{{ stock.symbol }}-price">${{ stock.price }}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- All Stocks Section -->
<div class="col-md-6" id="all-stocks">
  <div class="stock-box">
    <h4>All Stocks</h4>
    <ul>
      {% for stock in all_stocks %}
      <li>{{ stock.company }} ({{ stock.symbol }}): 
        <span id="all-{{ stock.symbol }}-price">${{ stock.price }}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>


    <!-- Buy and Sell Buttons at Bottom -->
    <div id="action-buttons" class="mt-5">
      <a href="#" class="btn btn-success btn-large">Buy</a>
      <a href="#" class="btn btn-danger btn-large">Sell</a>
    </div>
  </div>
</body>
{% endblock %}
