{% extends "base.html" %}

{% block title %}Home - Stock Trading System{% endblock %}

{% block content %}

<body>
  <!-- Main Content -->
  <div class="container main-content mt-4">
    <div class="row">
      <!-- Popular Stocks Section -->
<div class="col-md-6" id="popular-stocks">
  <div class="stock-box">
    <h4>Popular Stocks</h4>
    <ul>
      {% for stock in popular_stocks %}
      <li>{{ stock.company }} (${{ stock.symbol }}): 
        <span id="popular-{{ stock.symbol }}-price">${{ "{:,.2f}".format(stock.price) }}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- All Stocks Section -->
<div class="col-md-6" id="all-stocks">
  <div class="stock-box">
    <h4>All Stocks</h4>
    <ul>
      {% for stock in all_stocks %}
      <li>{{ stock.company }} (${{ stock.symbol }}): 
        <span id="all-{{ stock.symbol }}-price">${{ "{:,.2f}".format(stock.price) }}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>

<section id="stock-history" class="mb-5 p-3 bg-body border rounded">
  <h2 class="mb-4 text-primary border-bottom pb-2">Stock Information</h2>
  <div class="table-responsive">
    <table 
        id="stock-table" 
        class="table table-striped table-bordered"
        data-url="{{ url_for('web.stock_data') }}"
        data-pagination="{{ current_user.pagination or 10 }}"
    >
      <thead>
        <tr>
          <th>$SYMBOL</th>
          <th>Company</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Open Price</th>
          <th>High Price</th>
          <th>Low Price</th>
          <th>Close Price</th>
          <th>Volume</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
        <tr>
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.company }}</td>
          <td>${{ stock.price }}</td>
          <td>{{ stock.quantity }}</td>
          <td>${{ stock.open_price }}</td>
          <td>${{ stock.high_price }}</td>
          <td>${{ stock.low_price }}</td>
          <td>${{ stock.close_price }}</td>
          <td>{{ stock.volume }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
</main>
</div>
</div>

<script src="{{ url_for('static', filename='js/bundles/runtime.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/bundles/home.bundle.js') }}"></script>

</body>
{% endblock %}
